---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
---

<Layout title="404 Not Found">
  <Breadcrumbs items={[{ name: "ホーム", path: "/" }]} />
  <h1>ページが見つかりません</h1>
  <p>
    <a href="https://nectarition.jp/nectari-co" target="_blank">
      <img src="/404.jpg" />
    </a>
  </p>
  <p>
    指定された URL のページは見つかりませんでした。<br />
    URL をお確かめください。
  </p>
</Layout>
