---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <h1>ページが見つかりません</h1>
  <img src="/404.jpg" class="i404" />
  <p>
    指定された URL のページは見つかりませんでした。<br />
    URL をお確かめください。
  </p>
</Layout>

<style>
  .i404 {
    margin-bottom: 10px;
  }
</style>
