---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
dayjs.locale("ja");
dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.tz.setDefault("Asia/Tokyo");
import { getCollection, render } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import ArchiveAlert from "../components/ArchiveAlert.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("pages", (p) => p.id !== "index");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await render(post)
---

<Layout title={post.data.title} noIndex={post.data.isArchive}>
  {post.data.breadcrumbs && (
    <Breadcrumbs items={post.data.breadcrumbs} />
  )}
  {post.data.title && (
    <div class="title">
      <h1 class="pageTitle">{post.data.title}</h1>
      {post.data.updatedAt && (
        <div class="">
          {dayjs(post.data.updatedAt).tz().format("YYYY年 M月 D日")} 更新
        </div>
      )}
    </div>
  )}
  {post.data.isArchive && (
    <ArchiveAlert />
  )}
  <Content />
</Layout>

<style lang="scss">
  .title {
    margin-bottom: 40px;
    padding: 8px 0 15px;
    border-bottom: 2px solid var(--primary-color);
  }

  .pageTitle {
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
    color: var(--brand-darkgray-color);
  }
  .pageSubtitle {
  }
</style>
