---
const copyrightYear = import.meta.env.PUBLIC_COPYRIGHT_YEAR;
const copyrightAuthor = import.meta.env.PUBLIC_COPYRIGHT_AUTHOR;
---

<div class="footer">
  <p>
    このイベントは、ファン個人が運営しております。キャラクター公式及びその関連企業様とは一切関係ございません。
  </p>
  <p>
    &copy; {copyrightYear}
    {copyrightAuthor}
  </p>
</div>

<style lang="scss">
  .footer {
    padding: 40px 10%;
    background-color: #202020;
    color: #ffffff;

    @media screen and (max-width: 840px) {
      padding: 20px;
    }
  }
</style>
