---
import config from "../config";
const copyrightYear = config.copyright.year;
const copyrightAuthor = config.copyright.author;
const showNectaritionLogo = config.showNectaritionLogo ?? false;
---

<div class="footer">
  <p>
    このイベントは、ファン個人が運営しております。キャラクター公式及びその関連企業様とは一切関係ございません。
  </p>
  <div class="brandArea">
    <div class="copyright">
      &copy; {copyrightYear}
      {copyrightAuthor}
    </div>
    {
      showNectaritionLogo && (
        <div class="logoArea">
          <a href="https://nectarition.jp">
            <img class="logo" src="https://nectarition.jp/logo/footer.svg" />
          </a>
        </div>
      )
    }
  </div>
</div>

<style lang="scss">
  .footer {
    padding: 40px 10%;
    padding-bottom: calc(40px + env(safe-area-inset-bottom));
    background-color: #202020;
    color: #ffffff;

    @media screen and (max-width: 840px) {
      padding: 20px;
    }
    .brandArea {
      display: flex;
      gap: 10px;
      align-items: flex-end;
    }
    .copyright {
      flex-grow: 1;
    }
    .logo {
      width: 32px;
      max-width: 32px;
      filter: brightness(100%);
    }
  }
</style>
