---
export interface Props {
  title?: string
}

const siteName = 'AstroSakura'
const title = Astro.props.title ? `${Astro.props.title} - ${siteName}` : siteName
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  
</style>