---
import dayjs from "dayjs";

import Menu from "../components/Menu.astro";

const eventDateTime = import.meta.env.PUBLIC_EVENT_DATETIME;
const eventPlace = import.meta.env.PUBLIC_EVENT_PLACE;
const eventKeyVisualAuthor = import.meta.env.PUBLIC_EVENT_KEYVISUAL_AUTHOR;
const eventContent = import.meta.env.PUBLIC_EVENT_CONTENT;
---

<div class="sidebar">
  <div class="meta">
    <div class="meta_logotype">
      <a href="/"><img class="logotype" src="/assets/logotype.svg" /></a>
    </div>
    <div class="meta_item meta_item-date">
      {dayjs(eventDateTime).format("YYYY.MM.DD ddd.")}
    </div>
    <div class="meta_item">
      <span class="label">at</span>
      {eventPlace}
    </div>
    <div class="meta_item">
      <span class="label">content</span>
      {eventContent}
    </div>
    <div class="meta_item">
      <span class="label">key-visual</span>
      {eventKeyVisualAuthor}
    </div>
  </div>
  <Menu />
</div>

<style lang="scss">
  .sidebar {
  }
  .meta {
    margin-bottom: 20px;

    &_logotype {
      margin-bottom: 10px;
      .logotype {
        width: 100%;

        @media screen and (max-width: 840px) {
          width: 75%;
        }
      }
    }
    &_item {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }

      font-weight: bold;

      &-date {
        color: var(--primary-color);
        font-size: 1.5em;
      }
    }
  }
</style>
